@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-appBg text-textMain overflow-hidden select-none;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Скроллбары в стиле MD3 */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}